@use 'material-symbols/outlined';
/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
    height: 100%;
}

body {
    @apply m-0;
}

.mat-icon {
    font-variation-settings:
        'FILL' 0,
        'wght' 400,
        'GRAD' 0,
        'opsz' 24;

    &.filled {
        font-variation-settings:
            'FILL' 1,
            'wght' 400,
            'GRAD' 0,
            'opsz' 24;
    }
}

// internal angular material icon font
.material-icons {
    word-wrap: normal;
    font-family: 'Material Symbols Outlined', serif;
    font-size: 24px;
    line-height: 1;
}

.mat-mdc-fab,
.mat-mdc-mini-fab {
    --mdc-fab-container-color: #1DA1F2 !important;
    --mdc-fab-container-shape: 20% !important;
}

.mat-mdc-form-field.mat-mdc-form-field.mat-mdc-form-field.mat-mdc-form-field.mat-mdc-form-field.mat-mdc-form-field .mdc-notched-outline__notch {
    border-left: 1px solid rgba(0, 0, 0, 0);
    border-right: 1px solid rgba(0, 0, 0, 0);
}

.mat-mdc-icon-button.mat-mdc-button-base {
    padding: 10px;
}